html, body {
  margin: 0%;
  padding: 0%; 
  height: 100%;
  width: 100%;
  background-color: white;
}

body{
   text-align:center
}

.nav a{
  width: 100px;
  height: 40px; 
  line-height: 40px;
  display: block;
  text-decoration: none;
  font-size: 15px;  
  color:inherit;
  border : none;
}

.nav button:last-child{
  margin-right: 0px;
}

.button{
  margin-right: 20px;
}

.button:hover{
    transition: 0.8s;
  background-color:#888 ;
}
/*.buttonTab {
  overflow : hidden;
  display: in-line;
 background-color: #d4d3cf;
  width: 30%;
 border : none;
}

.buttonTab a {
  text-align: center;
  font-size: 16px;
  color: black;
  text-decoration: none;
  margin: auto;
}*/
li {
  list-style: none;
  padding: 1m;
}


.buttonTab a{
  font-family: "Georgia", Times, serif;
}

.buttonTab a:active {
  background-color:#B6977D;
}

.buttonTab a:hover {
  transition: 0.8s;
  background-color: #B6977D;
}


.active-background-color {
  background-color:#B6977D;
}
/* other tabs */
h1{
  font-family: "Caveat";
  font-size: 24px;
}
  .about{
    font-family: "Caveat";
    font-size: 24px;
    padding-left: 0px;

    }
  
  .ruth{
    font-family: "Caveat";
    font-size: 24px;
    padding-left: 0px;

  }
  
  .web{
  font-family: "Caveat";
  font-size: 24px;

    }
p{
    margin: 2%;
    padding: 0%; 
    font-size: 100%;
}

/* ADA */
li a:hover {
  transition: 0.8s;
  background-color:  #888;
}


.ADA a{
  background-color : #d4d3cf; 
}
.ADA a{
  display : block;
  position:relative;
  top: 250px;
  left: 4%
  text-align: center;
  margin: auto;
   width: 45%;
  font-size: 16px;
  color: black;
  padding: 1% 2%;
  text-decoration: none;
}

.ada a{
  background-color : #f0fcfb;
}

 .wrapingimage {
     float: left;
     margin: 25px 10px 3px 4px;
     border: 2px solid #888;
      }